<ion-content class="dashboard ion-padding">
  <div class="header">
    <div class="profile">
      <img [src]="userPhotoUrl" alt="Foto do usuário">
      <div class="info">
        <h2>FOCAPP</h2>
        <p>{{ userName }}</p>
      </div>
    </div>
  </div>

  <canvas *ngIf="userName" #barCanvas></canvas>

  <div class="grid">
    <ion-card routerLink="/tasks" class="card tasks">Tarefas<br>Rápidas</ion-card>
    <ion-card routerLink="/subjects" class="card subjects">Assuntos<br>Acesso</ion-card>
    <ion-card routerLink="/materials" class="card materials">Matériais<br>De Assuntos</ion-card>
    <ion-card routerLink="/notes" class="card notes">Notas<br>De Materiais</ion-card>
  </div>

  <div class="pomodoro">
    <h3>Pomodoro Timer</h3>
    <!-- <app-pomodoro></app-pomodoro> -->
  </div>
</ion-content>
