<ion-header>
  <ion-toolbar>
    <ion-title>Recuperar Senha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Esqueceu sua senha?</ion-card-title>
      <ion-card-subtitle>Digite seu e-mail para redefinir sua senha.</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input
          type="email"
          [(ngModel)]="email"
          required
          autocomplete="email"
        ></ion-input>
      </ion-item>

      <ion-button expand="block" (click)="recuperar()">
        Enviar Link de Recuperação
      </ion-button>

      <ion-button expand="block" fill="clear" (click)="login()">
        Voltar para o Login
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
